.HyperLink-Container{
	width: fit-content;
	height: 40px;
	border-radius:5px;
	background-color: #2898ec;
	text-align: center;
}

a:link {
	color: white;
	margin: 10px;
	padding-top: 10px;
}

.Link {
	font-size: 20px;
}
